/*だいたい書く奴*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b;
}

a {
	text-decoration: none;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;

}

/*文字変えてイケてる感じにしようぜしシリーズ*/

header, nav, h2, .main-visual, footer {
  font-family: chalkduster, "Brandley hard", Courier, "Segoe Print", sans-serief;
}

/*ここからちゃんと考える奴*/
		/*headerの調整*/

header {
	text-align: center;
	margin: 0 auto;
}